body {
    margin: 0;
}

h4 { 
    color: black; 
}
  
.deleteBtn1, .deleteBtn2, .deleteBtn3 {
    display: block;  
    margin-left: auto;  
    color: white;
    background-color: #800000;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.deleteBtn1:hover, .deleteBtn2:hover, .deleteBtn3:hover {
    display: block;  
    margin-left: auto;  
    color: rgb(187, 187, 187);
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    background-color: #800000;
    padding: 20px;
    margin: 0;
}

.containers {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 420px;
  margin: 20px auto;
  padding: 0 20px;
}

.container1, .container2, .container3 { 
    padding: 20px;
    border: none;
    border-radius: 8px;
    flex: 1;
    box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.2); 
}
