<div class="header"><h1>Charities in the Philippines</h1></div>

<div class="containers">
    <div class="container1">
        <h4>ABS-CBN Lingkod Kapamilya</h4>
        <p>ABS-CBN Foundation is committed to making a positive impact in the lives of Filipinos, especially the underserved. 
            We do this through our advocacies on children’s rights and development, education, the environment, disaster resilience, and sustainable livelihood. 
            Your support serves as the cornerstone of our relentless pursuit of hope, love, and compassion.</p>
        <button class="deleteBtn1">DELETE</button>
    </div>
    <div class="container2">
        <h4>Save the Children Philippines</h4> 
        <p>Save the Children, the world’s leading independent children’s organization, has been working in the Philippines 
            for over four decades and is dedicated to transforming children’s lives and the future we share.</p>
        <button class="deleteBtn2">DELETE</button>
    </div>
    <div class="container3">
        <h4>World Vision PH</h4> 
        <p>Our focus is on helping the most vulnerable children overcome poverty and experience fullness of life. 
            We help children of all backgrounds, even in the most dangerous places, inspired by our Christian faith. 
            As the largest non-profit organization in the Philippines with over 65 years of experience, World Vision 
            helps over 1 million children every year, with the support of thousands of Filipino sponsors and donors.</p>
        <button class="deleteBtn3">DELETE</button>
    </div>
</div>
